.temperature-rainfall-chart {
    padding: 20px;

    /*  firefox неподхватывает вложенность //= */
    /* & .container {
        display: flex;
        flex-direction: row;

        & .bar {
            display: flex;
            flex-direction: column;

            & .precipitation {
                margin-top: 5px;
            }
        }

        & .content {
            min-width: 500px;
            margin-left: 10px;

            & .container {
                margin-top: 5px;
            }
        }
    } */
}

.temperature-rainfall-chart .container {
    display: flex;
    flex-direction: row;
}

.temperature-rainfall-chart .container .bar {
    display: flex;
    flex-direction: column;
}

.temperature-rainfall-chart .container .bar .precipitation {
    margin-top: 5px;
}

.temperature-rainfall-chart .container .content {
    min-width: 500px;
    margin-left: 10px;
}

.temperature-rainfall-chart .container .content .container {
    margin-top: 5px;
}