.temperature-rainfall-chart .container .content .filters .years-select {
  display: flex;
  flex-direction: row;
}

.temperature-rainfall-chart .container .content .filters .years-select .finish-year {
  border-left: 0;
}

.temperature-rainfall-chart .container .content .filters .years-select .start-year,
.temperature-rainfall-chart .container .content .filters .years-select .finish-year {
  flex: 1;
}